# code dir
code/*/build
code/*/work_dirs
code/*/__pycache__
code/*/ignores

# data dir
data/*/chunk
data/*/features
data/*/raw_data
data/
work_dirs/

# Pytorch
*.m
*.h5
*.pth
*.pkl
*.pkl.json
*.log.json
*.csv
*.pyc

# custom
